
  <%= form_tag sessions_path, local: true do |form| %>
  <div class="container">
    <div class="row">

      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="m-t-40 card-box">
            <div class="text-center">
              <h2 class="text-uppercase m-t-0 m-b-30">
                <a href="<%=root_url %>" class="text-success">
                                    <span>
                                        <h1> My Blog</h1>
                                      <!--<img src="assets/images/logo_dark.png" alt="" height="30">-->
                                    </span>
                </a>
              </h2>
              <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
            </div>

            <div class="account-content">
              <div class="form-group m-b-20">
                <div class="col-xs-12">
                  <p class = "text text-danger" id=”alert”><%= alert %></p></div></div>
              <form class="form-horizontal" action="#">

                <div class="form-group m-b-20">
                  <div class="col-xs-12">

                    <label for="emailaddress">Email address</label>
                    <input class="form-control" type="email" name="email" required=""  placeholder="ghayyur@gmail.com">
                  </div>
                </div>

                <div class="form-group m-b-20">
                  <div class="col-xs-12">
                    <br>
                    <!--<a href="forget_password.html" class="text-muted pull-right font-14">Forgot your password?</a>-->
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" required=""  placeholder="Enter your password">
                  </div>
                </div>

                <!--<div class="form-group m-b-30">-->
                <!--<div class="col-xs-12">-->
                <!--<div class="checkbox checkbox-primary">-->
                <!--<input id="checkbox5" type="checkbox">-->
                <!--<label for="checkbox5">-->
                <!--Remember me-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group account-btn text-center m-t-10">
                  <div class="col-xs-12">
                    <br>
                   <button class="btn btn-lg btn-primary btn-block" type="submit" name="commit"  value="Sign in" data-disable-with="Sign in">Sign In</button>
                  </div>

                </div>

              </form>

              <div class="clearfix"></div>

            </div>
          </div>
          <!-- end card-box-->


          <div class="row m-t-50">
            <div class="col-sm-12 text-center">
              <p class="text-muted">Don't have an account? <%= link_to 'Sign Up', signup_path%></p>
            </div>
          </div>

        </div>
        <!-- end wrapper -->

      </div>
    </div>
  </div>
                      <%end %>
